.footer {
  background-color: white;
  width: 100%;
  height: 8rem;
  box-sizing: border-box;
  padding-top: 1.5rem;
  border-top: 0.125rem solid #000000;
  position: relative;
  margin-top: auto;
  bottom: 0;
  overflow-y: hidden;
}

.social-media-logo-container {
  display: flex;
  justify-content: left;
  gap: 0.5em;
  width: fit-content;
  position: relative;
  left: 10vh;
  top: -1.5rem;
}

.social-media-logo {
  height: 1.5em;

}

.page-logo {
  width:10rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  margin-top: -2rem;
}

.page-Logo:hover {
  cursor: pointer;
}

.links-to-services-text-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  width: auto; 
  padding-left: 50vh;
}

.links-to-services-text-footer1,
.links-to-services-text-footer2,
.links-to-services-text-footer3 {
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  position: relative;
  margin-top: -8.8rem;
  margin-left: 10vh; 
  margin-right: 10vh; 
  font-size: 0.75rem;
}

.contact-us-text-link,
.cookie-policy-text-link,
.personal-data-policy-text-link,
.update-cookie-settings-text-link,
.login-TUC-text-link {
  color: black;
  text-decoration: underline;
}
