#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 100%;
}

.user-cart{
  position: relative;
  right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 100%;
}

.toast {
  position: absolute ;
  top: 100px;  
  right: 50px;
  background-color: cadetblue;
}



